@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import './functions';

* {
  @include reset();
  scroll-behavior: smooth;
}

.logo {
  @include center();
  img{
  height: 55px;
  width: 55px;
}
}
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-height: 100vh;
  @include backgroundImage();
  .wrong {
    color: red;
    font-size: 15px;
    font-weight: bold;
  }
  form {
    background-color: white;
    width: 375px;
    height: fit-content;
    padding: 2em;
    margin: 4em 35vw;
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
    h1 {
      margin-bottom: .5em;
    }
    input:not([type=checkbox]):not([type=radio]) {
      position: relative;
      width: 100%;
      padding: .5em;
      border-radius: 5px;
      border: 1px solid transparent;
      background-color: #B1D0E0;
      margin-bottom: 1em;
    }
    
    input:invalid([type=radio]) {
      border: 1px solid red;
    }
    fieldset {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      border: none;
      border: 1px solid black;
      margin-top: 1em;
      box-sizing: border-box;
      padding: 1em;
      legend {
        padding: 0 1em;
      }
      label {
        display: block;
        width: 9em;
      }
    }
    input[type=checkbox] {
      margin-right: 1em;
      margin-bottom: .7em;
    }
    #buttonDiv{
      @include center();
      button {
        background-color: #1572A1;
        color: white;
        font-size: 1.1em;
        padding: .5em 1em;
        border: none;
        margin-top: 1em;
        cursor: pointer;
        border-radius: 10px;
        transition: 0.1s;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}